.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.video-background {
  width:100%;
  /* height:100vh; */
  /* height: 900px; */
  min-height: 600px;
  max-height: 900px;
  /* min-height: auto;
  max-height: 900px; */
  overflow: hidden;
  /* min-width: 1500px;
  min-height: 400px; */
  position: relative;
  
}

.video-foreground {
  z-index: -1;
  min-width: 1/2;
  max-width: 100%;

  left: 0;
  object-fit: contain;
  position: absolute;
  opacity: 0.3;

}

.gradient-overlay {
  position: absolute;

  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* margin-left: auto;
  margin-right: auto; */
  /* min-height: 600px;
  max-height: 1100px; */
  /* height: 500px ; */
  /* object-fit: fill; */
  background: linear-gradient(to right, #000000 30%, #ffffff);
  opacity: 0.98;
  
}

.title {
  color: white;
  position: absolute;
  z-index: 3;
  left: 20px;
  top: 200px;
  font-size: 40px;
  font-family: 'Roboto Slab', serif;

}
